*.env
*.sw*
*~
.byebug_history
.idea
/.bundle
/.project
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp/cache*
/tmp/pids
/tmp/sessions
/tmp/sockets
config/config.yml
config/cookies.txt
config/database.yml
config/sidekiq.yml
coverage/*
dump.rdb
public/assets
public/cache
public/screenshots
tmp/performance*
tmp/profile
tmp/puma-*
tmp/restart.txt
tmp/restart.txt
