/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
db/schema.rb
/log/*.log
/tmp/cache
/tmp/pids
/tmp/sessions
/tmp/sockets
config/database.yml
config/config.yml
config/initializers/errbit.rb
config/initializers/secret_token.rb
*.sw*
*~
public/assets
tmp/restart.txt
/.project
public/cache
public/screenshots
config/config.yml.travis
tmp/restart.txt
tmp/puma-*
tmp/profile
tmp/performance*
config/environments/profile.rb
config/sidekiq.yml
dump.rdb
config/initializers/errbit.rb.travis
config/cookies.txt
coverage
