/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp/cache*
/tmp/pids
/tmp/sessions
/tmp/sockets
config/database.yml
config/config.yml
*.sw*
*~
public/assets
tmp/restart.txt
/.project
public/cache
public/screenshots
tmp/restart.txt
tmp/puma-*
tmp/profile
tmp/performance*
config/sidekiq.yml
dump.rdb
config/cookies.txt
.idea
.byebug_history
*.env
otel-collector-config.yaml
