version: "2.1"
volumes:
  redis:
  minio:
networks:
  dev:
services:
  redis:
    image: redis:5
    ports:
      - "6379:6379"
    volumes:
      - "redis:/data"
    networks:
      - dev
  minio:
    image: minio/minio
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - "minio:/data"
    networks:
      - dev
    environment:
      MINIO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
      MINIO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  pender:
    build: .
    shm_size: 1G
    ports:
      - "3200:3200"
      - "9555:9555"
    volumes:
      - ".:/app"
    depends_on:
      - redis
      - minio
    environment:
      RAILS_ENV: development
      SERVER_PORT: 3200
    networks:
      - dev
