development: &default
  secret_token: somethingsecret
  authorization_header: 'X-Pender-Token'
  youtube_api_key: ''
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_access_token:
  twitter_access_token_secret:
  timeout: 5 # In seconds
  cc_deville_host:
  cc_deville_token:
  cc_deville_httpauth: 'username:password'
  public_url:
  redis_host: 'localhost'
  redis_port: 6379
  redis_database: 1
  archiver_skip_hosts: 'checkmedia.org'
  video_vault_token: ''
  hosts:
    one.host:
      http_auth: username:password
    another.host:
      http_auth: username:password
  chrome_debug_port: 9444

test:
  <<: *default

production:
  <<: *default

profile:
  <<: *default
